[submodule "Plugins/ConsoleFramework"]
	path = Plugins/ConsoleFramework
	url = https://github.com/potory/ConsoleFramework.git
[submodule "Plugins/Prompthing"]
	path = Plugins/Prompthing
	url = https://github.com/potory/Prompthing.git
